extends layout

block content
  h1.headers Create a New Survey
  form(action='#')
  | Title: 
  input(style='display:inline', type='text', name='firstname', placeholder='Your Title')
  br
  br
  .tall.demo-card-wide.mdl-card.mdl-shadow--2dp
    | Question 1: 
    input(type='text', name='question1', placeholder='Your Question')
    br
    | Answers:
    input(type='text', name='question1', placeholder='First Response')
    input(type='text', name='question1', placeholder='Second Response')
    input(type='text', name='question1', placeholder='Third Response')
    input(type='text', name='question1', placeholder='Fourth Response')
    br
    br
  .tall.demo-card-wide.mdl-card.mdl-shadow--2dp
    | Question 2: 
    input(type='text', name='question2', placeholder='Your Question')
    br
    | Answers:
    input(type='text', name='question1', placeholder='First Response')
    input(type='text', name='question1', placeholder='Second Response')
    input(type='text', name='question1', placeholder='Third Response')
    input(type='text', name='question1', placeholder='Fourth Response')
    br
    br
  .tall.demo-card-wide.mdl-card.mdl-shadow--2dp
    | Question 3: 
    input(type='text', name='question3', placeholder='Your Question')
    br
    | Answers:
    input(type='text', name='question1', placeholder='First Response')
    input(type='text', name='question1', placeholder='Second Response')
    input(type='text', name='question1', placeholder='Third Response')
    input(type='text', name='question1', placeholder='Fourth Response')
    br
    br
  .tall.demo-card-wide.mdl-card.mdl-shadow--2dp
    | Question 4: 
    input(type='text', name='question4', placeholder='Your Question')
    br
    | Answers:
    input(type='text', name='question1', placeholder='First Response')
    input(type='text', name='question1', placeholder='Second Response')
    input(type='text', name='question1', placeholder='Third Response')
    input(type='text', name='question1', placeholder='Fourth Response')
    br
    br
  .tall.demo-card-wide.mdl-card.mdl-shadow--2dp
    | Question 5: 
    input(type='text', name='question5', placeholder='Your Question')
    br
    | Answers:
    input(type='text', name='question1', placeholder='First Response')
    input(type='text', name='question1', placeholder='Second Response')
    input(type='text', name='question1', placeholder='Third Response')
    input(type='text', name='question1', placeholder='Fourth Response')
    br
    br
    |  
  input(type='submit')