extends layout

block content
  h1.headers Concept Focus: HTTP &amp; APIs
  .img-container
    img.home-image(src='http://p10cdn4static.sharpschool.com/UserFiles/Servers/Server_110534/Image/News%20Images%20and%20Clipart/Online_Survey_Icon_or_logo.svg.png', alt='Survey Image')
    form
      button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect.mdl-button--accent(formaction='http://localhost:3000/survey') View Surveys
      button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect.mdl-button--accent(formaction='http://localhost:3000/survey/add') Create Survey